@import "./variables";
@import "./functions";
@import "./mixins";
@import "./header";
@import "./home.scss";
@import "./aboutUs.scss";

.yellow-btn{
    background: linear-gradient(90deg, #F6EB61 0%, #FFB25B 100%);
    box-shadow: 0px 4px 8px rgba(44, 38, 20, 0.1);
    border-radius: 6px;
    padding: 16px 32px;
    outline: none;
    border:0;
}